body {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding-top: 10px;
	display: block;
	font-family: 'Maven Pro', sans-serif;
}

#pesquisa {
	padding-left: 20px;
	padding-top: 10px;
}

#resultado {
	width: 60%;
}

#botaouser {
	float: right;
}

#botaouser ul {
	display: inline-block;
	text-decoration: none;
}

#botaouser ul li {
	padding: 5px 10px;
	background-color: #FF1A19;
	border-radius: 3px;
}

#botao_conectar a {
	width: 100px;
	height: 30px;
	background-color: #FF1A19;
	border-radius: 3px;
}

ul {
	text-decoration: none;
	list-style: none;
}

ul li .display_inline{
	float: left;
	padding: 10px;
	display: inline;
}

button {
	padding: 4px -60px 0;
	position: absolute;
	border-radius: 3px;
}

h1 {
	margin: 10px;
	padding-bottom: 20px;
}

h3 {
	margin: 15px;
	padding-top: 30px;

}