body {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding-top: 10px;
	display: block;
	font-family: 'Maven Pro', sans-serif;
}

ul {
	text-decoration: none;
}

button {
	padding: 25px -60px 0;
	position: relative;
	border-radius: 3px;
}

h1 {
	margin: 10px;
	padding-top: 15px;
}

h3 {
	margin: 15px;
	padding-top: 30px;
}